.contact-details {
  --margin: 1.5rem;
  width: 100%;
  height: calc(100% - var(--margin) * 2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact-details > table {
  border-collapse: collapse;
  border-spacing: 0px;
}

.contact-details > img {
  max-height: 100%;
  max-width: calc(100% - var(--margin) * 2);
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5rem;
  border-color: var(--white);
}

.contact-details:first-child {
  margin-top: var(--margin);
}

.contact-details > * {
  margin-left: var(--margin);
  margin-right: var(--margin);
  margin-bottom: var(--margin);
}

.contact-details > table > tbody > tr > td > p {
  color: black;
}

.contact-details > table > tbody > tr > td > address > a {
  color: var(--email);
  font-style: normal;
}
