.contact-table .contact-table-cell {
  height: 3rem;
}

.contact-table .contact-table-header {
  background-color: var(--teal);
}

.contact-table .contact-table-header:nth-last-child(2) {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 1rem;
}

.contact-table .contact-table-header:nth-last-child(2) > button {
  background-color: var(--teal);
  height: 100%;
  width: 2rem;
}

.contact-table .list-icon-white > path {
  color: var(--white);
}

.contact-table .contact-table-header > button > p {
  background-color: var(--teal);
  color: var(--white);
  height: 100%;
  width: 100%;
}

.contact-table .contact-table-data > button {
  height: 100%;
  width: 100%;
}

.contact-table .contact-table-data {
  background-color: var(--white);
}

.contact-table .contact-table-row:not(:last-child) {
  border-bottom: thin solid var(--grey);
}

.contact-table .contact-table-contact-details-row {
  background-color: var(--grey);
  width: 20rem;
}

.contact-table .contact-table-row .contact-table-cell {
  text-align: left;
}

.contact-table .contact-table-row .contact-table-cell:first-child > button > p {
  text-indent: 1.5rem;
}

.contact-table .contact-table-row .contact-table-cell:nth-child(5) {
  text-align: right;
}

.contact-table {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  padding: 0px;
  border-collapse: collapse;
}
