.contact-table th {
  background-color: #4DB6BD;
  color: white;
}

.contact-table td {
  background-color: #FEFEFE;
  border-bottom: thin solid #D7E0E4;
}

.contact-table tr:last-child td {
  border-bottom: 0px;
}

.contact-table {
  width: 90%;
  height: 90%;
  max-height: 35rem;
  background-color: #D7E0E4;
  border: 0px;
  border-spacing: 0px;
}