.contact-table .contact-table-cell {
  height: 3rem;
}

.contact-table .contact-table-header {
  background-color: var(--teal);
}

.contact-table .contact-table-header:nth-last-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1rem;
}

.contact-table .contact-table-header:nth-last-child(2) > button {
  height: 100%;
  width: 2rem;
}

.contact-table .list-icon-white > path {
  color: var(--white);
}

.contact-table .list-icon-teal > path {
  color: var(--teal);
}

.contact-table .menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-table .contact-table-header > button > p {
  color: var(--white);
}

.contact-table .contact-table-header > button {
  background-color: var(--teal);
  height: 100%;
  width: 100%;
}

.contact-table .contact-table-data > button {
  height: 100%;
  width: 100%;
}

.contact-table .contact-table-data {
  background-color: var(--white);
}

.contact-table .contact-table-row:not(:last-child) {
  border-bottom: thin solid var(--grey);
}

.contact-table .contact-table-contact-details-row {
  background-color: var(--grey);
  width: 20rem;
}

.contact-table .contact-table-row .contact-table-cell {
  text-align: left;
}

.contact-table .first-column > button > p {
  text-indent: 1.5rem;
}

.contact-table .last-column > button > p {
  text-align: right;
}

.contact-table .visible-icon {
  margin-left: 1.5rem;
}

.contact-table {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  padding: 0px;
  border-collapse: collapse;
}

.contact-table .menu-cell {
  position: relative;
  display: inline-block;
}

.contact-table > thead > tr:first-child {
  height: 6rem;
  color: var(--white);
  width: 100%;
}

.contact-table > thead > tr:first-child > th > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
}

.contact-table > thead > tr:first-child > th > div > div:first-child {
  background-image: linear-gradient(to right, #1e67b6, #1774bb);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-table > thead > tr:first-child > th > div > div:first-child > *:first-child {
  margin-left: 1rem;
}

.contact-table > thead > tr:first-child > th > div > div:first-child > * {
  margin-right: 1rem;
}

.contact-table > thead > tr:first-child > th > div > div:last-child > p {
  color: var(--white);
  font-weight: 700;
  font-size: 2.5rem;
  width: 20.5rem;
}

.contact-table > thead > tr:first-child > th > div > div > input {
  background-color: transparent;
  border-bottom: 0.1rem solid var(--white);
  color: var(--white);
  text-align: left;
}

.contact-table > thead > tr:first-child > th > div > div > input::placeholder {
  color: var(--white);
}

.contact-table > thead > tr:first-child > th > div > div > input::-webkit-calendar-picker-indicator {
  opacity: 100;
}