.contact-table th, td {
  height: 3rem;
}

.contact-table th {
  background-color: #4db6bd;
  color: var(--white);
}

.contact-table td {
  background-color: var(--white);
}

.contact-table tr:not(:last-child):not(:first-child) {
  border-bottom: thin solid var(--grey);
}

.contact-table th.contact-details-column {
  width: 25rem;
}

.contact-table {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  padding: 0px;
  border-collapse: collapse;
}
