* {
  margin: 0;
  padding: 0;
}

body, html, #root, .app {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to right, #1C6AB7, #1081C0);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 4rem 4rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}