* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--text);
  font-weight: 600
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  font: inherit;
  font-weight: inherit;
  border: 0;
  padding: 0;
  text-align: inherit;
}

body,
html,
#root,
.app {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to right, #1c6ab7, #1081c0);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 4rem 4rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
