body, html, #root, .app {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  background-image: linear-gradient(to right, #1C6AB7, #1081C0);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}